{% extends 'Base/base.html' %}
{% block content %}
<!-- Page Header -->
<header>
  <div> <img src="../../media/history-bg.jpg"width="1800"height="700"></div>
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
        </div>
      </div>
    </div>
  </div>
</header>
 
    <!-- Post Content -->
    <section class="about-section spad">
      <div class="container">
        <div class="row">
          <div class="col-lg-7 about-text">
            <h1 style="color:darkred"class="post-title">
              WE TAKE YOU PLACES YOU'VE NEVER BEEN 
            </h1>
            <h4 class="post-subtitle">
                The Grounds of Beri coffee house is full of energy and life, created as an engaging and inspiring place for
                 guests to reconnect with one another over world-class coffee and wholesome food.
              </h4>
        <p>With a seasonally inspired menu that’s bursting with fresh flavours, Our Executive Chef, Tyson, delivers an ever-evolving offering; carefully plating and presenting each dish to highlight the beauty of each ingredient.</p>

        <p>At Beri coffee house, specially trained baristas serve up The Grounds freshly roasted Seasonal Blend and Single Origin coffees using revolutionary espresso and filter technologies, with weekly offerings of new beans and roasts from across the globe.</p>

        <p>Beri coffee house is home to an artisan Bakery & Patisserie where guests can experience an inside look, as they watch our bakers creating fresh-baked sourdough loaves and and our pastry chefs fashioning irresistible pastries before their very eyes.</p>

        <p>The Takeaway Bar offers a healthy range of choices, with a selection of breakfast dishes, salad bowls, wraps and freshly made cold drinks including juices and smoothies to go.</p>

       
        <h2 style="color:darkred" class="section-heading">MEET OUR STAFF. </h2>
        <h style="color:darkred" class="section-heading"> WE ARE ONE BIG HAPPY FAMILY.</h>
            </div><br><br>
          </div>
        </div>
      </div>
    </section>
    <section class="fact-section spad">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-sm-6 fact-item ">
            <a href="#"><img src="../../media/b.jpg"width="200" ></a><br></br>Beriya Debrework<br>
                  PROPRIETOR
          </div>
          <div class="col-lg-4 col-sm-6 fact-item">
            <a href="#"><img src="../../media/ma.jpg"width="200" ></a><br></br>Mahlet Berhe<br>
                    Managing Director
          </div>
          <div class="col-lg-4 col-sm-6 fact-item">
            <a href="#"><img src="../../media/he.jpg"width="200" ></a><br></br>Hermela Brook<br>
                      SERVICE MANGER
          </div>
          <div class="col-lg-4 col-sm-6 fact-item">
            <a href="#"><img src="../../media/si.jpg"width="200" ></a><br></br>Sehenmariyam<br>
            PASTRY CHEF
          </div>
          <div class="col-lg-4 col-sm-6 fact-item">
            <a href="#"><img src="../../media/ne.jpg"width="200" ></a><br></br>Nehemia Debrework<br>
            BARISTA
          </div>
          <div class="col-lg-4 col-sm-6 fact-item">
            <a href="#"><img src="../../media/ye.jpg"width="200" ></a><br></br>Yeuwbdar Negash<br>
            EVENTS COORDINATOR
          </div>
        </div>
      </div>
    </section>
  
{% endblock %}