{% extends 'Base/base.html' %}
{% block content %}
<!-- Page Header -->

<header class="masthead" style="background-image: url('media/banner.png')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <div class="site-heading">
          <h1>Welcome The Coffee Shop</h1>
          <h2>Highest Quality Coffee shop Wesbite Template Free</h2>
              <div class="btn-intro">
                <a href="https://www.youtube.com/watch?v=Q6dsRpVyyWs" class="popup-video">
                  <div class="icon-box"><i class="fa fa-play"></i></div>
                  Quick Tour
                </a>
              </div>
        </div>
      </div>
    </div>
  </div>

</header>
    <!-- Main Content -->
    
    <section class="services" id="service"style="background-image: url('media/history-bg.jpg')">
      <div class="container" style="color:#fff">
        <div class="row">
          <div class="col-md-12">
            <div class="main-title">
              <p>Best Service Ever</p>
              <h2>Who we are</h2>
            </div>
          </div>
        </div>
        <br><br>
        <div class="row">
          <div class="col-md-3 col-md-offset-3 col-sm-4">
            <div class="service-single">
              <div class="icon-box"><i class="flaticon-chef"></i></div>
              <h3>Professional Service</h3>
              <p>Tasty food, set inside a lovely coffee house.”
                It's an real incredible experience you will get visiting our coffee house. The quality of food is only matched by the quality of service you will get. You will wish to keep the flavor in your mouth forever.</p>
            </div>
          </div>
          
          <div class="col-md-3 col-sm-4">
            <div class="service-single">
              <div class="icon-box"><i class="flaticon-recipe"></i></div>
              <h3>Various Menu</h3>
              <p>OUR SWEETS
                Handcrafted delights that instantly brighten up your day. Whether its chocolate, vanilla or cinnamon, we use the finest ingredients to produce these mouth watering artifacts.</p>
            </div>
          </div>
          
          <div class="col-md-3 col-sm-4">
            <div class="service-single">
              <div class="icon-box"><i class="flaticon-coffee-cup"></i></div>
              <h3>Fresh Coffee</h3>
              <p>Coffee Lover? Discover The Best Coffee in our Stores, Cafes In Every Country In The World. Finally, You Can Try A Cup From Tiny Cafes As Well As The Great Coffee Chains.</p>
            </div>
          </div>
         
          <div class="col-md-3 col-sm-4">
            <div class="service-single">
              <div class="icon-box"><i class="flaticon-recipe"></i></div>
              <h3>HOUSE-MADE WONDERFUL...</h3>
              <p>Coffee House is baking up a storm.  Gluten-free pumpkin chocolate chip muffins, 
                zucchini muffins, blueberry muffins, a variety of bars, organic maple syrup/walnut granola and a 
                variety of sandwiches for the meat lover, vegetarian, or vegan.  
                   </p>
            </div>
          </div>
          
          
        </div>
      </div>
    </section>
    
     <section class="courses-section spad">
      <div class="container">
        <div class="sec-title text-center">
          <p>See the Celebration</p>
          <h2>Photo Gallery</h2>
        </div>
        </div>
     </section>
        <section class="fact-section spad">
          <div >
            <div class="row">
              <div class="col-lg-3 col-sm-6 fact-item">
                
                <img src="../../media/gallery-1.jpg"width=500>
                <br>
              </div>
              <div class="col-lg-3 col-sm-6 fact-item">
                <img src="../../media/gallery-10.jpg"width=500>
              
              </div>
              <div class="col-lg-3 col-sm-6 fact-item">
                <img src="../../media/gallery-2.jpg"width=500>
              </div>
              <div class="col-lg-3 col-sm-6 fact-item">
                <img src="../../media/gallery-3.jpg"width=500>
              </div>
            </div>
          </div>
        </section><br><br>
        <section class="fact-section spad">
          <div >
            <div class="row">
              <div class="col-lg-3 col-sm-6 fact-item">
                
                <img src="../../media/gallery-4.jpg"width=500>
                <br>
              </div>
              <div class="col-lg-3 col-sm-6 fact-item">
                <img src="../../media/gallery-5.jpg"width=500>
              
              </div>
              <div class="col-lg-3 col-sm-6 fact-item">
                <img src="../../media/gallery-6.jpg"width=500>
              </div>
              <div class="col-lg-3 col-sm-6 fact-item">
                <img src="../../media/gallery-7.jpg"width=500>
              </div>
            </div>
          </div>
        </section><br><br>
        <section class="fact-section spad">
          <div >
            <div class="row">
              <div class="col-lg-3 col-sm-6 fact-item">
                
                <img src="../../media/gallery-8.jpg"width=500>
                <br>
              </div>
              <div class="col-lg-3 col-sm-6 fact-item">
                <img src="../../media/gallery-9.jpg"width=500>
              
              </div>
              <div class="col-lg-3 col-sm-6 fact-item">
                <img src="../../media/gallery-6.jpg"width=500>
              </div>
              <div class="col-lg-3 col-sm-6 fact-item">
                <img src="../../media/gallery-1.jpg"width=500>
              </div>
            </div>
          </div>
        </section><br><br>
    </section>
{% endblock %}