{% extends 'Base/base.html' %}
{% block content %}
<!-- Page Header -->
<header></header>
  <div> <img src="../../media/history-bg.jpg"width="1800"height="700"></div>
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
        </div>
      </div>
    </div>
  </div>
</header>
 
    <!-- Post Content -->
    <section class="pricing" id="price">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="main-title">
              <p>Best Service Ever</p>
              <h2>Affordable Pricing</h2>
            </div>
          </div>
        </div>
        
        <div class="row">
          <div class="col-md-6">
            <div class="price-single">
              <div class="price-list">
                <div class="price-item">Macchiato</div>
                <div class="price-line"></div>
                <div class="price-amount">$25</div>
              </div>
              
              <p class="new-product">A classic short black espresso with a dollop of milk crema</p>
            </div>
            
            <div class="price-single">
              <div class="price-list">
                <div class="price-item">Chai Latte</div>
                <div class="price-line"></div>
                <div class="price-amount">$20</div>
              </div>
              
              <p class="new-product">Sweet and spicy. Steamed milk and spiced tea syrup</p>
            </div>
            
            <div class="price-single">
              <div class="price-list">
                <div class="price-item">Cold Coffee</div>
                <div class="price-line"></div>
                <div class="price-amount">$20</div>
              </div>
              
              <p class="new-product">Singnature Lorem Ispum tagline goes here</p>
            </div>
            
            <div class="price-single">
              <div class="price-list">
                <div class="price-item">Cold Coffee</div>
                <div class="price-line"></div>
                <div class="price-amount">$20</div>
              </div>
              
              <p class="new-product">Singnature Lorem Ispum tagline goes here</p>
            </div>
            
            <div class="price-single">
              <div class="price-list">
                <div class="price-item">Cold Coffee</div>
                <div class="price-line"></div>
                <div class="price-amount">$20</div>
              </div>
              
              <p class="new-product">Singnature Lorem Ispum tagline goes here</p>
            </div>
          </div>
          
          <div class="col-md-6">
            <div class="price-single">
              <div class="price-list">
                <div class="price-item">Cold Coffee</div>
                <div class="price-line"></div>
                <div class="price-amount">$20</div>
              </div>
              
              <p class="new-product">Singnature Lorem Ispum tagline goes here</p>
            </div>
            
            <div class="price-single">
              <div class="price-list">
                <div class="price-item">Giant Cinnamon Rolls</div>
                <div class="price-line"></div>
                <div class="price-amount">$40</div>
              </div>
              
              <p class="new-product">Baked in-house and drizzled with caramel</p>
            </div>
            
            <div class="price-single">
              <div class="price-list">
                <div class="price-item">cappuccino</div>
                <div class="price-line"></div>
                <div class="price-amount">$10</div>
              </div>
              
              <p class="new-product"> shot of espresso with textured milk poured immediately.</p>
            </div>
            
            <div class="price-single">
              <div class="price-list">
                <div class="price-item">Cold Coffee</div>
                <div class="price-line"></div>
                <div class="price-amount">$20</div>
              </div>
              
              <p class="new-product">Singnature Lorem Ispum tagline goes here</p>
            </div>
            
            <div class="price-single">
              <div class="price-list">
                <div class="price-item">Cold Coffee</div>
                <div class="price-line"></div>
                <div class="price-amount">$20</div>
              </div>
              
              <p class="new-product">Singnature Lorem Ispum tagline goes here</p>
            </div>
          </div>
        </div>
        
      </div>
    </section>
{% endblock %}